{% extends "__layout.html" %}

{% block content %}

<div class="container">
    <p><strong>Apple</strong> («Эпл») — американская корпорация, разработчик персональных и планшетных компьютеров, аудиоплееров, смартфонов, программного обеспечения и цифрового контента. 
        Штаб-квартира расположена в Купертино, штат Калифорния. Практически вся продукция Apple выпускается контрактными производителями на заводах в Азии, 
        крупнейшим подрядчиком является тайваньская компания Foxconn, крупнейший завод — в Чжэнчжоу.
    </p>
    <br>
    <p>
        <strong>Процессор</strong> (ЦП, или центральное процессорное устройство — ЦПУ; англ. central processing unit, CPU) — 
        исполнитель машинных инструкций, часть аппаратного обеспечения компьютера или программируемого логического контроллера; 
        отвечает за выполнение операций, заданных программами.
    </p>
    <br>
    <p>
        <strong>ОЗУ</strong> (оперативное запоминающее устройство) — это тип компьютерной памяти, который используется для временного хранения данных, 
        необходимых процессору для выполнения операций. Оно отличается высокой скоростью доступа, но данные в ОЗУ теряются при отключении питания. 
        Этот вид памяти играет ключевую роль в производительности устройства, поскольку хранит активные программы и процессы.
    </p>
    <br>
    <p>
        <strong>Диафрагма</strong> — это регулируемое отверстие в объективе, которое контролирует количество света, попадающего на сенсор или плёнку. 
        Она обозначается значениями f-чисел (например, f/2.8, f/5.6). Диафрагма влияет на яркость снимка, глубину резкости и качество изображения.
    </p>
    <br>
    <p>
        <strong>API</strong> (Application Programming Interface) — это интерфейс программирования приложений, который предоставляет набор правил и методов для взаимодействия 
        между различными программами или компонентами. API позволяет разработчикам использовать готовые функции и сервисы, упрощая создание программ.
    </p>
    <br>
    <p>
        <strong>Retina Display</strong> — это технология экранов, разработанная Apple, характеризующаяся высокой плотностью пикселей, 
        благодаря чему отдельные пиксели становятся незаметными для человеческого глаза при нормальном расстоянии просмотра. 
        Это обеспечивает более чёткое и детализированное изображение с улучшенной цветопередачей.
    </p>
    <br>
    <p>
        <strong>Face ID</strong> — это технология биометрической аутентификации, разработанная Apple. 
        Она использует инфракрасную камеру и датчики для создания трёхмерной карты лица пользователя. Face ID применяется для разблокировки устройств, 
        подтверждения покупок и аутентификации в приложениях. Она отличается высокой точностью и безопасностью, 
        адаптируясь к изменениям внешности пользователя, таким как очки или борода.
    </p>
    <br>
    <p>
        <strong>GPS</strong> (Global Positioning System) — это глобальная навигационная спутниковая система, разработанная для определения местоположения объекта на Земле. 
        Она использует сигналы от нескольких спутников для расчёта координат, скорости и времени. GPS широко применяется в навигации, геолокации, транспорте, 
        смартфонах и других устройствах, обеспечивая точное определение местоположения в реальном времени.
    </p>

    <p>
        <strong>OLED</strong> (Organic Light-Emitting Diode) — это технология экранов, где каждый пиксель состоит из органического материала, который излучает свет при прохождении электрического тока. 
        OLED-экраны предлагают более яркие цвета, глубокий чёрный и улучшенный угол обзора по сравнению с традиционными ЖК-дисплеями (LCD). 
        Эти экраны также тоньше и гибче, что делает их идеальными для современных смартфонов, телевизоров и других устройств.
    </p>

</div>

{% endblock %}
