{% extends "__layout.html" %}

{% block content %}
    <div class="container">
        <div class="row-header mb-2">
            <div class="col-8 offset-3">
                <h1>История создания Apple</h1>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row-header">
            <div class="col">
                <h3>Первые шаги</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-8 d-flex">
                Компания Apple была основана 1 апреля 1976 года Стивом Джобсом, Стивом Возняком и Рональдом Уэйном. Основная цель создания компании заключалась в разработке и продаже персональных компьютеров.
                Первым продуктом Apple стал компьютер Apple I, который был выпущен в 1976 году. Возняк разработал аппаратное обеспечение, а Джобс занимался маркетингом и продажами. 
                Рональд Уэйн, который был третьим соучредителем, вскоре покинул компанию и продал свою долю.
                В 1977 году компания выпустила Apple II, который стал одним из первых успешных массовых персональных компьютеров и способствовал росту компании. 
                Apple продолжала развиваться, вводя новые продукты и расширяя свой ассортимент, включая Macintosh в 1984 году, что ознаменовало начало эры графических интерфейсов.
                На протяжении своей истории Apple сталкивалась с различными вызовами и изменениями в руководстве, 
                но продолжала оставаться одним из лидеров в области технологий и инноваций, выпуская такие знаковые продукты, как iPod, iPhone и iPad.
            </div>
            <div class="col-4 index-column">
                <div>
                    <div><img src="/static/imgs/big_logo.svg" class="w-50" title="Логотип Apple, актуальный по сей день" alt="logotype">
                    </div>
                    <br>
                    <div class="img-name text-center">Логотип</div>
                </div>
            </div>
        </div>
        
        <br>
        <div class="row-header">
            <div class="col">
                <h3><a href="/iphone#iphone2g">iPhone</a></h3>
            </div>
        </div>
        <div class="row index-row">
            <div class="col-4 index-column">
                <div><img src="/static/imgs/iphone_2g.svg" class="w-50" title="Первая модель iPhone" alt="iphone"></div>
                <br>
                <div class="img-name text-center">iPhone 2G</div>
            </div>
            <div class="col-8 d-flex">
                9 января 2007 года Apple представила свой первый мобильный телефон с сенсорный экраном. iPhone мог воспроизводить MP3 и видео, а также имел доступ в интернет. 
                Первые модели поддерживали только беспроводную связь от AT&T и не использовали новейшие в то время сети 3G.
                В 2008 году Apple устранила это ограничение с выпуском iPhone 3G или iPhone 2.0, который также поддерживал GPS. 
                Как и другие смартфоны, такие как BlackBerry от канадской компании Research in Motion, новый iPhone включал функции, ориентированные на бизнес-пользователей. 
                Например, память телефона можно полностью очистить удаленно, если телефон будет утерян.
                Как и на оригинальный iPhone, спрос на новинку был очень высоким. За первые три дня после выпуска iPhone 3G было продано миллион единиц. 
                В том же году Apple представила App Store — онлайн-магазин, в котором пользователи iPhone могут приобретать приложения.
            </div>
        </div>

        <div class="row-header">
            <div class="col">
                <h3><a href="/ipad#ipad1st">iPad</a></h3>
            </div>
        </div>

        <div class="row index-row">
            <div class="col-8 d-flex">
                В 2010 году Apple представила iPad — устройство с сенсорным экраном, среднее по размеру между ноутбуком и смартфоном, с диагональю экрана 24,6 см, толщиной 1,2 см и весом 0,7 кг. 
                Управлять iPad можно было тем же набором жестов, что и iPhone. Сенсорный экран воспроизводил видео в высоком разрешении.
                В iPad было встроено несколько сервисов, включая iTunes, и он поддерживал все приложения для iPhone. 
                Специально для iPad Apple также разработала приложение для чтения книг iBooks и интернет-магазин iBookStore в сотрудничество с пятью крупнейшими издательствами 
                (Penguin, HarperCollins, Simon and Schuster, Macmillan и Hachette).
            </div>

            <div class="col-4 index-column">
                <div><img src="/static/imgs/ipad-1.jpg" class="w-50" title="Первая модель iPad" alt="ipad"></div>
                <br>
                <div class="img-name text-center">iPad (1st gen)</div>
            </div>
        </div>

        <div class="row-header">
            <div class="col">
                <h3>iMac</h3>
            </div>
        </div>

        <div class="row index-row">
            <div class="col-4 index-column">
                <div><img src="/static/imgs/imac_g3.jpg" class="w-50" title="Первая модель iMac" alt="imac"></div>
                <br>
                <div class="img-name text-center">iMac G3</div>
            </div>
            <div class="col-8 d-flex">
                15 августа 1998 года появился iMac — компьютер «все-в-одном». Команду дизайнеров iMac возглавил Джонатан Айв, который позднее работал над iPod и iPhone. 
                Благодаря современным техническим характеристикам и уникальному дизайну в течение пяти месяцев было продано 80 тысяч единиц iMac.
                Джобс не хотел расширять ассортимент товаров и даже сократил линейку компьютеров до четырех — два для бизнеса и два для потребителей. 
                Он также закрыл множество других подразделений компании, в том числе Newton MessagePad. Тем не менее в этот период компания наблюдала значительный подъем.
            </div>
        </div>

        <div class="row-header">
            <div class="col">
                <h3><a href="/macbook#macbook1st">MacBook</a></h3>
            </div>

        <div class="row index-row">
            <div class="col-8 d-flex">
                MacBook — бренд ноутбуков линейки Macintosh на операционной системе macOS, разработанный корпорацией Apple. 
                В 2006 году заменил бренды PowerBook и iBook во время перехода с PowerPC на Intel x86. 
                Текущая линейка состоит из MacBook Air (с 2008 года) и MacBook Pro (с 2006 года)[1]. 
                Ранее выпускались линейки под названием MacBook: первая версия с 2006 по 2012 год, вторая — с 2015 по 2019 год.
                10 ноября 2020 года Apple анонсировала модели MacBook Air и MacBook Pro с новой системой Apple M1,
                а 18 октября 2021 года завершила перевод всех моделей MacBook на новую архитектуру.
            </div>
            <div class="col-4 index-column">
                <div><img src="/static/imgs/macbook_1.jpg" class="w-50" title="Первая модель MacBook" alt="macbook"></div>
                <br>
                <div class="img-name text-center">MacBook Pro (1st gen)</div>
            </div>
        </div>
        </div>
    </div>
{% endblock %}