{% extends "__layout.html" %}

{% block content %}
    <div class="container">
        <div class="row-header">
            <div class="col-10 offset-3 ms-auto">
                <h1>Твой следующий компьютер — это не компьютер</h1>
            </div>
        </div>
    </div>

    <div class="container">       
        <br>
        <div class="row-header">
            <div class="col">
                <h3 id="ipad1st">iPad 1st gen</h3>
            </div>
        </div>

        <div class="row ipad-model">
            <div class="col-8 ipad-column">
                <div><img src="/static/imgs/ipad-1.jpg" class="w-50" title="Первая модель iPad" alt="ipad1"></div>
                <br>
                <div class="img-name text-center">iPad 1st gen</div>
            </div>
            <div class="col-3 d-flex justify-content-center align-items-center">
                Дата выпуска: январь 2010<br>
                Процессор: Apple A4<br>
                ОЗУ: 256 МБ<br>
                Флеш-память: 16, 32 и 64 GB<br>
                Экран:	9,7" 1024 x 768<br>
                Аккумулятор: 25 Вт-ч<br>
                Камера: нет<br>
                Масса: 681 г<br>
            </div>
        </div>

        <div class="row-header">
            <div class="col">
                <h3>iPad 5th gen</h3>
            </div>
        </div>

        <div class="row">
            <div class="col">
                Флагман 2017 года
            </div>
        </div>
        <br>

        <div class="row ipad-model">
            <div class="col-7 d-flex align-items-center ms-auto">
                Дата выпуска: 21 марта 2017<br>
                Процессор: 2-х ядерный Apple A9<br>
                ОЗУ: 2 ГБ LPDDR4<br>
                Флеш-память: 8 ГБ, 16 ГБ, 32 ГБ или 64 ГБ<br>
                Экран: 9,7" 2048x1536<br>
                Аккумулятор: 30 Вт-ч<br>
                Камера: 8 МП<br>
                Масса: 469 г<br>
            </div>

            <div class="col-3 ipad-column">
                <div><img src="/static/imgs/ipad-5.jpg" class="w-100" title="iPad 5gen" alt="ipad5th"></div>
                <br>
                <div class="img-name text-center">iPad 5th</div>
            </div>
        </div>

        <div class="row-header">
            <div class="col">
                <h3>iPad 9th gen</h3>
            </div>
        </div>

        <div class="row ipad-model">
            <div class="col-8 ipad-column">
                <div><img src="/static/imgs/ipad-9.png" class="w-75" title="iPad 9th" alt="ipad9"></div>
                <br>
                <div class="img-name text-center">iPad 9th</div>
            </div>
            <div class="col-3 d-flex align-items-center">
                Дата выпуска: 18 октября 2022<br>
                Процессор: 8-ядерный Apple M2<br>
                ОЗУ: 8/16 ГБ<br>
                Флеш-память: 128, 256, 512 ГБ, 1 или 2 ТБ<br>
                Экран: 12,9" 2732×2048<br>
                Аккумулятор: 40 Вт-ч<br>
                Камера: Двойная 12/10 МП<br>
                Передняя камера: Ультраширокоугольная камера, 12 МП<br>
                Масса: 685 г<br>
            </div>
        </div>       
    </div>
    
{% endblock %}