{% extends "__layout.html" %}

{% block content %}
    <div class="container">
        <div class="row-header">
            <div class="col-10 offset-3">
                <h1>iPhone - прорыв в мире телефонов</h1>
            </div>
        </div>
    </div>

    <div class="container">       
        <br>
        <div class="row-header">
            <div class="col">
                <h3 id="iphone2g">iPhone 2G</h3>
            </div>
        </div>

        <div class="row iphone-model">
            <div class="col-8 iphone-column">
                <div><img src="/static/imgs/iphone_2g.svg" class="w-75" title="Первая модель iPhone" alt="iphone"></div>
                <br>
                <div class="img-name text-center">iPhone 2G</div>
            </div>
            <div class="col-3 d-flex justify-content-center align-items-center">
                Дата выпуска: 9 января 2007<br>
                Процессор: Samsung S3C6400 ARM 620 MHz<br>
                ОЗУ: 128 МБ EDRAM<br>
                Флеш-память: 4 ГБ , 8 ГБ или 16 ГБ флеш-памяти<br>
                Экран: 3,5 дюйма<br>
                Аккумулятор: 1220 mAh<br>
                Камера: 2 МП<br>
                Масса: 135 г<br>
            </div>
        </div>

        <div class="row-header">
            <div class="col">
                <h3>iPhone 4</h3>
            </div>
        </div>

        <div class="row">
            <div class="col">Один из самых инновационных iPhone в линейке:<br>
                Apple впервые выпустила свой процессор, Retina экран, фронтальная камера впервые на iPhone
            </div>
        </div>
        <br>

        <div class="row iphone-model">
            <div class="col-4 d-flex ms-auto">
                Дата выпуска: 4 октября 2011<br>
                Процессор: Apple A5, 800-1000 МГц[<br>
                ОЗУ: 512 МБ<br>
                Флеш-память: 8 ГБ, 16 ГБ, 32 ГБ или 64 ГБ<br>
                Экран: 3,5 дюйма<br>
                Аккумулятор: 1430 mAh<br>
                Камера: 8 МП<br>
                Масса: 140 г<br>
            </div>

            <div class="col-6 d-flex justify-content-center align-items-center flex-column">
                <div><img src="/static/imgs/iphone-4.png" class="w-75" title="iPhone 4" alt="ip4"></div>
                <br>
                <div class="img-name text-center">iPhone 4</div>
            </div>
        </div>

        <div class="row-header">
            <div class="col">
                <h3>iPhone 6</h3>
            </div>
        </div>

        <div class="row">
            <div class="col">
                Добавлен сканер отпечатка пальцев в кнопку, увеличен экран, кнопка питания на торце
            </div>
        </div>
        <br>

        <div class="row iphone-model">
            <div class="col-8 iphone-column">
                <div><img src="/static/imgs/iphone-6.png" class="w-75" title="iPhone 6" alt="ip6"></div>
                <br>
                <div class="img-name text-center">iPhone 6</div>
            </div>
            <div class="col-3 d-flex">
                Дата выпуска: 9 сентября 2014<br>
                Процессор: Apple A8<br>
                ОЗУ: 1 ГБ LPDDR3<br>
                Флеш-память: 16, 32, 64 или 128 ГБ флеш-памяти<br>
                Экран: 4,7 дюйма<br>
                Аккумулятор: Li-ion 1810 mAh<br>
                Камера: 8 МП<br>
                Передняя камера: 1,2 МП<br>
                Масса: 129 г<br>
            </div>
        </div>

        <div class="row-header">
            <div class="col">
                <h3>iPhone X</h3>
            </div>
        </div>

        <div class="row">
            <div class="col">
                Важный iPhone с точки зрения эволюции:<br>
                Переход на безрамочные экраны, "монобровь Apple", Face ID - инновация.
            </div>
        </div>
        <br>

        <div class="row iphone-model">
            <div class="col-4 d-flex ms-auto">
                Дата выпуска: 3 ноября 2017<br>
                Процессор: Apple A11 Bionic<br>
                ОЗУ: 3 ГБ<br>
                Флеш-память: 64 ГБ, 256 ГБ<br>
                Экран: 5,8 дюйма OLED Super Retina<br>
                Аккумулятор: Li-ion 2716 mAh<br>
                Камера: Двойная 12 МП, f/1.8<br>
                Передняя камера: TrueDepth 7 МП, f/2.2<br>
                Масса: 174 г<br>
            </div>
            <div class="col-6 iphone-column">
                <div><img src="/static/imgs/iphone-x.png" class="w-75" title="iPhone X" alt="ipx"></div>
                <br>
                <div class="img-name text-center">iPhone X</div>
            </div>
        </div>

        <div class="row-header">
            <div class="col">
                <h3>iPhone 12</h3>
            </div>
        </div>

        <div class="row iphone-model">
            <div class="col-8 iphone-column">
                <div><img src="/static/imgs/iphone-12.png" class="w-75" title="iPhone 12" alt="ip12"></div>
                <br>
                <div class="img-name text-center">iPhone 12</div>
            </div>

            <div class="col-3 d-flex">
                Дата выпуска: 9 января 2007<br>
                Процессор: Apple A14 Bionic<br>
                ОЗУ: 4 ГБ<br>
                Флеш-память: 64, 128, 256 ГБ<br>
                Экран: 6,1 дюйма Super Retina XDR OLED, HDR10<br>
                Аккумулятор: 2815 mAh<br>
                Камера: Двойная 12 МП ƒ/1.6 и ƒ/2.4 Оптическая стабилизация<br>
                Передняя камера: 12 МП<br>
                Масса: 163 г<br>
            </div>
        </div>

        <div class="row-header">
            <div class="col">
                <h3>iPhone 14 Pro / 14 Pro Max</h3>
            </div>
        </div>

        <div class="row iphone-model">
            <div class="col-4 d-flex ms-auto">
                Дата выпуска: 7 сентября 2022<br>
                Процессор: Apple A16 Bionic<br>
                ОЗУ: 6 ГБ LPDDR5<br>
                Флеш-память: 128, 256, 512 ГБ и 1 ТБ<br>
                Экран: 6,1 дюйма Super Retina XDR OLED, HDR10 120 Hz<br>
                Аккумулятор: 3200 mAh<br>
                Камера: Тройная 48 МП ƒ/1.78, 12 МП ƒ/2.8 и 12 МП f/2.2, Оптическая стабилизация<br>
                Передняя камера: 12 МП ƒ/1.9<br>
                Масса: 206 г<br>
            </div>
            <div class="col-6 iphone-column">
                <div><img src="/static/imgs/iphone-14.svg" class="w-50" title="Первая модель MacBook" alt="macbook"></div>
                <br>
                <div class="img-name text-center">iPhone 14 Pro</div>
            </div>
        </div>
    </div>
{% endblock %}