{% extends "__layout.html" %}

{% block content %}
    <div class="container">
        <div class="row-header">
            <div class="col-10 offset-3 ms-auto">
                <h1>Высокая производительность никогда не была такой привлекательной</h1>
            </div>
        </div>
    </div>

    <div class="container">       
        <br>
        <div class="row-header">
            <div class="col">
                <h3 id="macbook1st">MacBook 1st gen</h3>
            </div>
        </div>

        <div class="row macbook-model">
            <div class="col-8 macbook-column">
                <div><img src="/static/imgs/macbook_1.jpg" class="w-50" title="Первое поколение МакБуков" alt="macbook_1"></div>
                <br>
                <div class="img-name text-center">MacBook 1st gen</div>
            </div>
            <div class="col-3 d-flex justify-content-center align-items-center">
                Дата выпуска: 10 января 2006<br>
                Процессор: Intel Core 2 Duo<br>
                ОЗУ: 2 ГБ<br>
                Жесткий диск: 120 ГБ<br>
                Экран:	15.4" 1440 × 900<br>
                Масса: 2 кг<br>
            </div>
        </div>

        <div class="row-header">
            <div class="col">
                <h3>MacBook 4th gen</h3>
            </div>
        </div>

        <div class="row">
            <div class="col">
                Переосмысление всей линейки<br>
                Появился Touch Bar (OLED панель над клавиатурой), полностью улучшены все характеристики.
            </div>
        </div>
        <br>

        <div class="row macbook-model">
            <div class="col-7 d-flex align-items-center ms-auto">
                Дата выпуска: 27 октября 2016<br>
                Процессор: 4-ядерный Core i7 7700HQ<br>
                ОЗУ: 16 ГБ ОЗУ LPDDR3<br>
                Жесткий диск: 256, 512 ГБ или 1 ТБ SSD<br>
                Экран:	15" 2880 x 1800 IPS<br>
                Масса: 2 кг<br>
            </div>

            <div class="col-3 macbook-column">
                <div><img src="/static/imgs/macbook-17.jpg" class="w-100" title="Четвертое поколение МакБуков" alt="macbook4thgen"></div>
                <br>
                <div class="img-name text-center">MacBook 4th gen</div>
            </div>
        </div>

        <div class="row-header">
            <div class="col">
                <h3>MacBook 6th gen</h3>
            </div>
        </div>

        <div class="row macbook-model">
            <div class="col-8 macbook-column">
                <div><img src="/static/imgs/macbook-23.png" class="w-75" title="MacBook 6th gen" alt="macbook6thgen"></div>
                <br>
                <div class="img-name text-center">MacBook 6th gen</div>
            </div>
            <div class="col-3 d-flex align-items-center">
                Дата выпуска: 24 января 2023<br>
                Процессор: Apple M2 Max (12-ядерный CPU)<br>
                ОЗУ: 32 ГБ 6400 МГц<br>
                Жесткий диск: 512 ГБ, 1, 2, 4 или 8 ТБ<br>
                Экран:	16" 3456 х 2234 mini-led<br>
                Масса: 2 кг<br>
            </div>
        </div>       
    </div>
    
{% endblock %}